*{
	margin: 0;
}

body{
	margin: 0; padding: 0;

}

.container{
	width: 1078px;
	margin: auto;
	a{
		text-decoration:none;
	}
	h3{
		background:  linear-gradient(90deg, rgba(255,78,0,1) 48%, rgba(192,0,255,1) 55%);
		 -webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		font-size: 24px;
		transition-duration: 2s;

	}
	
	
}


.main{
	width: 100%;
	height: 1077px;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
		h2{
	font-family: 'Montserrat', sans-serif;
		margin: 0;
		padding: 54px;
		background:  linear-gradient(90deg, rgba(255,78,0,1) 48%, rgba(192,0,255,1) 55%);
		 -webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		font-size: 64px;
		transition-duration: 2s;
		
    }
		 
	}
.portofoliu{
	display: flex;
	width: 1080px;
	column-gap: 29px;
	div{
		width: 524px;
		height: 350px;
		background-color: #DADADA ;
		img{
			margin-top: 10px;
		}
	}
	.roz{
		background-color: #c3c2ff; 
	}
	
}
.portofoliu_2{
	margin-top: 31px;
	display: flex;
	width: 1080px;
	column-gap: 29px;
	div{
		width: 524px;
		height: 350px;
		background-color: #DADADA;
		img{
			margin-top: 10px;
		}
	}
	.roz{
		background-color: #c3c2ff; 
	}

}

.game{
	transition-duration: .7s;
}
.game:hover {
	margin-top: -20px;
	background-color: #c3c2ff
	}

.window {
	transition-duration: .7s;
}
.window:hover {
	margin-top: -20px;
	background-color: #DADADA;
}


.the_loop {
	transition-duration: .7s;
}
.the_loop:hover {
	margin-top: -20px;
	background-color: #DADADA;
}
.arend {
	transition-duration: .7s;
}
.arend:hover {
	margin-top: -20px;
	background-color: #c3c2ff
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 260px;
	background-color: #22679A;
	.container {
		height: 135px;
		display: flex;
		justify-content: space-between;
		text-align: center;
		div{
			width: 312px;
			color: white;
			h4{
				font-size: 48px;
			}
			p{
				font-size: 20px;

			}
		}

	}
}


.social{
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact{

	.btn{
	width: 279px;
	height: 52px;
	padding: 10px 14px;
	border-radius:20px;
	border: 1px solid #fff;
	color: #fff;
}
p{
	margin-top: 10px;
}
}
@media  screen and(max-width: 1302px) {
	.main{
		max-width: 1327px;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}
	.container{
		width: 900px;
		}
		
}